<div class="post">
  <div class="header">
  	  <div class="title">
  	    <% if (page.category) { %>
  	      <%= page.category %>
  	    <% }else if (page.tag) { %>
  	      <%= page.tag %>
  	    <% }else{ %>
  	      <div>归档</div>
  	    <% } %>
  	  </div>
  	  <div class="meta">
  	    <% if (page.category) { %>
  	      <div>分类“<%= page.category %>”下有以下文章。 </div>
  	    <% }else if (page.tag) { %>
  	      <div>标签“<%= page.tag %>”下有以下文章。 </div>
  	    <% }else{ %>
  	      <div>目前共有<%= site.posts.length %>篇文章。 继续努力。</div>
  	    <% } %>
  	  </div>
  </div>
  
  <ul class="post-text for-else">
    <hr />
    <% page.posts.each(function (post) { %>
      <li class="item">
        <span class="date"><%= date(post.date, "YYYY-MM-DD") %></span>&nbsp;&nbsp;————&nbsp;
        <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a><hr />
      </li>
    <% }) %>
  </ul>
  </div>
<%- partial('_partial/paginator') %>