<div class="post-index">
	<%- partial('_partial/warning') %>
	<div class="header">
		<div class="title"><%= config.title %></div>
		<div class="subtitle"><%= config.subtitle %></div>
	</div>
	<% page.posts.each(function (post) { %>
		<div class="post-item">
			<div class="title">
				<a href="<%- url_for(post.path) %>"><%= post.title %></a>
			</div>
			<div>
				<% if(post.excerpt){ %>
					<%- post.excerpt %>
				<% }else{ %>
					<i class="fa fa-warning" aria-hidden="true"></i> 本文章无可提供的摘要qwq。
				<% } %>
			</div>    
			<hr />
			<div class="meta">
				<i class="fa fa-user" aria-hidden="true"></i>
				<span><%= config.author %></span>
				&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>
          		<span><%- date(post.date, " YYYY ") %>年<%- date(post.date, " MM ") %>月<%- date(post.date, " DD ") %>日</span>
        		<% if(post.top){ %>
            		&nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fa fa-thumb-tack" aria-hidden="true"></i> 置顶</span>
        		<% } %>
        		<% if(post.password){ %>
        			&nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fa fa-lock" aria-hidden="true"></i> 加密</span>
      			<% } %>
      		</div>
		</div>
	<% }) %>

	<%- partial('_partial/paginator') %>

</div>