<div class="post">
	<%- partial('_partial/warning') %>
	<div class="header">
		<div class="title"><%= config.title %></div>
		<div class="meta"><%= config.subtitle %></div>
	</div>
	<% page.posts.each(function (post) { %>
	  <% if(post.bgimg){ %>
		<div class="post-bgimg-item" style="background-image: url(<%= post.bgimg %>);" onclick="window.location.href = <%- url_for(post.path) %>">
			<% if(post.height){ %>
				<% for(var i=1;i<=post.height;i++) { %>
					<br />
				<% } %>
				<div class="inner">
			<% }else{ %>
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><div class="inner">
			<% } %>
	  <% }else{ %>
		<div class="post-item" onclick="window.location.href = <%- url_for(post.path) %>"><div>
			<% if(post.disfa){}else{ %>
				<% if(post.faname){ %>
			  		<i class="fa <%- post.faname %> fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
			  	<% }else{ %>
			  		<i class="fa fa-user fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
			  	<% } %>
			<% } %>
	  <% } %>
	  		
			<div class="title">
				<a href="<%- url_for(post.path) %>"><%= post.title %></a>
			</div>
			<div>
				<% if(theme.post_excerpt.mode=="noexcerpt"){ %>
					<% if(theme.post_excerpt.ifdefault){ %>
						<% if(theme.post_excerpt.display=="html"){ %>
							<%- theme.post_excerpt.post_default_excerpt %>
						<% }else{ %>
							<%- strip_html(theme.post_excerpt.post_default_excerpt) %>
						<% } %>
					<% }else{ %>
						<% if(theme.post_excerpt.display=="html"){ %>
							<%- truncate(post.content,{length:theme.post_excerpt.length_excerpt}) %>
						<% }else{ %>
							<%- strip_html(truncate(post.content,{length:theme.post_excerpt.length_excerpt})) %>
						<% } %>
					<% } %>
				<% }else{ %>
					<% if(post.excerpt){ %>
						<% if(theme.post_excerpt.display=="html"){ %>
							<%- post.excerpt %>
						<% }else{ %>
							<%- strip_html(post.excerpt) %>
						<% } %>
					<% }else if(theme.post_excerpt.ifdefault){ %>
						<% if(theme.post_excerpt.display=="html"){ %>
							<%- theme.post_excerpt.post_default_excerpt %>
						<% }else{ %>
							<%- strip_html(theme.post_excerpt.post_default_excerpt) %>
						<% } %>
					<% }else{ %>
						<% if(theme.post_excerpt.display=="html"){ %>
							<%- truncate(post.content,{length:theme.post_excerpt.length_excerpt}) %>
						<% }else{ %>
							<%- strip_html(truncate(post.content,{length:theme.post_excerpt.length_excerpt})) %>
						<% } %>
					<% } %>
				<% } %>
			</div>    
			<hr />
			<div class="meta">
				<span><i class="fa fa-user" aria-hidden="true"></i> <%= config.author %></span>
				<span><i class="fa fa-clock-o" aria-hidden="true"></i><%- date(post.date, " YYYY ") %>年<%- date(post.date, " MM ") %>月<%- date(post.date, " DD ") %>日</span>
        		<% if(post.top){ %>
            		<span><i class="fa fa-thumb-tack" aria-hidden="true"></i> 置顶</span>
        		<% } %>
        		<% if(post.password){ %>
        			<span><i class="fa fa-lock" aria-hidden="true"></i> 加密</span>
      			<% } %>
      		</div>
		</div></div>
	<% }) %>

	<%- partial('_partial/paginator') %>

</div>