<!DOCTYPE html>
<html>
	<%- partial('_partial/head') %>
	<body>
		<a name="back-to-top"></a>
		<div id="siteLoading" class="siteloading siteLoading-active">
			<div class="loader-inner">
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			<div class="loader-line-wrap"><div class="loader-line"></div></div>
			</div>
		</div>
		<div class="main">
			<%- partial('_partial/github') %>
			<%- partial('_partial/topbar') %>
			<%- partial('_partial/sidebar') %>
			<div class="article">
    			<div class="article-cell-body"><%- body %></div>
    			<%- partial('_partial/toolbar') %>
    		</div>
    		<%- partial('_partial/footer') %>
			<%- partial('_partial/footerinc') %>
    		<%- partial('_partial/reverse-coloregg') %>
    		<%- partial('_partial/santa') %>
		</div>
  	</body>
</html>