<% if(theme.WHITE){ %>
<!--nothing-->
<% }else{ %>
<!DOCTYPE html>
<html>
	<%- partial('_partial/head') %>
	<body>
		<div class="main">
			<%- partial('_partial/topbar') %>
			<div id="main-container">
				<%- partial('_partial/sidebar') %>
				<div class="article">
    				<div class="article-cell-body"><%- body %></div>
    				<%- partial('_partial/toolbar') %>
    			</div>
    		</div>
    		<%- partial('_partial/footer') %>
		</div>
  	</body>
</html>
<% } %>