<div class="post">
  <div class="header">
    <div class="title"><%= page.title %></div>
    <div class="meta">
	  <i class="fa fa-user" aria-hidden="true"></i>
	  <span><%= config.author %></span>&nbsp;&nbsp;&nbsp;&nbsp;
	  <i class="fa fa-clock-o" aria-hidden="true"></i>
      <span><%- date(page.date, " YYYY ") %>年<%- date(page.date, " MM ") %>月<%- date(page.date, " DD ") %>日</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-font" aria-hidden="true"></i>
      <span><%= wordcount(page.content) %></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
      <span id="busuanzi_value_page_pv"></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <% if(page.top){ %>
        <i class="fa fa-thumb-tack" aria-hidden="true"></i> <span>置顶</span>
      <% } %>
    </div>
  </div>

  <div class="breadcrumb">
    <div class="url">
      <a href="/"><i class="fa fa-home" aria-hidden="true"></i> 主页</a> / <%= page.title %>
    </div>
    <div class="share">
      分享到：<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<%= page.permalink %>&title=<%= page.title %>&site=<%= config.url %>"><i class="fa fa-qq" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="post-text">
    <%- page.content %>
  </div>

  <div class="prevnext">
  	<% if(page.prev){ %>
  		<a class="prev" href="<%= url_for(page.prev.path) %>">上一篇</a>
  	<% }if(page.next){ %>
  		<a class="next" href="<%= url_for(page.next.path) %>">下一篇</a>
  	<% } %>
  </div>

</div>

<%- partial('_partial/comments') %>