<div class="post">
  <div class="header">
    <div class="title"><%= page.title %></div>
    <div class="meta">
	  <i class="fa fa-user" aria-hidden="true"></i>
		<span><%= config.author %></span>&nbsp;&nbsp;
		<i class="fa fa-clock-o" aria-hidden="true"></i>
    	<span><%- date(page.date, " YYYY") %></span>年<span><%- date(page.date, " MM") %></span>月<span><%- date(page.date, " DD") %></span>日
    	<% if(page.top){ %>
    		<span>&nbsp;&nbsp;<i class="fa fa-thumb-tack" aria-hidden="true"></i> 置顶</span>
    	<% } %>
    </div>
  </div>

  <div class="post-text">
      <%- page.content %>
  </div>
</div>

<div class="comments"><%- partial('_partial/comments') %></div>