<% if( (is_post() && theme.copyright.enable=="post") || (theme.copyright.enable=="all") ) { %>


<br /><hr />
<!--<img src="/img/end-heart.gif">-->
<br />
<blockquote>
	<br />
	本文作者： <%= config.author %>
	<br /><br />
    本文链接： <%= page.permalink %>
    <br /><br />
    版权声明： <%= theme.copyright.statement %>
    <br /><br />
</blockquote>
<br />

<div class="end-post-meta">
	<% page.tags.each(function (tag) { %>
		<span><a href="/tags/<%= tag.name %>"><i class="fa fa-tag" aria-hidden="true"></i> <%= tag.name %></a></span>
	<% }) %>
</div>

<div class="end-post-meta">
	<span><i class="fa fa-refresh" aria-hidden="true"></i> 最后更新： <%- date(page.updated, " YYYY ") %>年<%- date(page.updated, " MM ") %>月<%- date(page.updated, " DD ") %>日 <%- time(page.updated, 'hh : mm : ss a') %></span>
</div>


<% } %>