<div class="toolbar">
  <div class="toolbar-tab-page">
    <div class="tb-tabTitle">
     <ul>
       <li class="tb-current"><i class="fa fa-random" aria-hidden="true"></i></li>
       <li><i class="fa fa-refresh" aria-hidden="true"></i></li>
       <li><i class="fa fa-briefcase" aria-hidden="true"></i></li>
     </ul>
    </div>
    <div class="tb-tabContent">
      <div>
      	
<!--  1-tab  -->
<span>随机文章</span><span class="sidetitle">回味旧文</span>
<div class="item"><%- list_posts({
	orderby: 'random',
	style: 'block',
	separator: '<br /><br />',
	amount: 8,
	transform(str) {
    	return '<i class="fa fa-random fa-fw" aria-hidden="true"></i> '+str;
  	}
}) %></div>
<!--  END 1-tab  -->

      </div>
      <div class="tb-hide">
      	
<!--  2-tab  -->

<span>最新更新</span><span class="sidetitle">不要忽略旧文章的更新哦</span>
<div class="item"><%- list_posts({
	orderby: 'updated',
	style: 'block',
	separator: '<br /><br />',
	amount: 8,
	transform(str) {
    	return '<i class="fa fa-refresh fa-fw" aria-hidden="true"></i> '+str;
  	}
}) %></div>

<!--  END 2-tab  -->

      </div>
      <div class="tb-hide">

<!--  3-tab  -->

  <span>其他</span><span class="sidetitle">杂物</span>
  
  <div class="item">
    <div class="text" id="displaytime"><script type="text/javascript" src="/js/displaytime.js"></script></div>
  </div>

  <div class="item">
    <div id="hitokoto" class="text"><%= config.author %>说，除了她以外的人都很强！嘤嘤嘤~~</div>
    <script>
    fetch('https://v1.hitokoto.cn')
      .then(function (res){
        return res.json();
      })
      .then(function (data) {
        var hitokoto = document.getElementById('hitokoto');
        hitokoto.innerText = '\t' + data.hitokoto + '\n' +'\n' +'from ' + data.from ;
      })
      .catch(function (err) {
        console.error(err);
      })
    </script>
  </div>

<!--  END 3-tab  -->

      </div>
    </div>
  </div>

  

  

  <div class="item">
  	<div class="title">标签云</div>
  	<div class="text"><%- tagcloud({min_font: 20, max_font: 40, amount: 200, color: true, start_color: '#bfc6be', end_color: '#000'}) %></div>
  </div>

  <% if(is_post()||is_page()){ %>
    <div class="post-toc">
      <div class="title">文章目录</div>
      <% if(toc(page.content,{list_number: false})=="") { %>
        <div class="text">目录好像不可用嘤。 >_<</div>
      <% }else{ %>
  	    <div class="text"><%- toc(page.content,{list_number: false}) %></div>
  	  <% } %>
    </div>
  <% } %> 

  <script>
    $(function(){
      var ali = $('.tb-tabTitle>ul>li');
      var aDiv = $('.tb-tabContent>div');
      var timeId = null;
      ali.mouseover(function(){
        var _this = $(this);
        timeId = setTimeout(function(){
          _this.addClass('tb-current').siblings().removeClass('tb-current');
          var index = _this.index();
          aDiv.eq(index).show().siblings().hide();
        },300);
      }).mouseout(function(){
        clearTimeout(timeId);
      });
  });
  </script>

</div>