<div class="toolbar">
  <div class="toolbar-tab-page">
    <div class="tb-tabTitle">
     <ul>
       <li class="tb-current"><i class="fa fa-random" aria-hidden="true"></i></li>
       <li><i class="fa fa-refresh" aria-hidden="true"></i></li>
       <li><i class="fa fa-briefcase" aria-hidden="true"></i></li>
     </ul>
    </div>
    <div class="tb-tabContent">
      <div>
      	
<!--  1-tab  -->
<span class="title">随机文章</span><span class="sidetitle">回味旧文</span>
<div class="item"><%- list_posts({
	orderby: 'random',
	style: 'block',
	separator: '<br /><br />',
	amount: 6,
	transform(str) {
    	return '<i class="fa fa-file-text fa-fw fa-pull-left fa-border" aria-hidden="true"></i> '+str;
  	}
}) %></div>
<!--  END 1-tab  -->

      </div>
      <div class="tb-hide">
      	
<!--  2-tab  -->

<span class="title">最新更新</span><span class="sidetitle">旧文章的更新</span>
<div class="item"><%- list_posts({
	orderby: 'updated',
	style: 'block',
	separator: '<br /><br />',
	amount: 6,
	transform(str) {
    	return '<i class="fa fa-file-text fa-fw fa-pull-left fa-border" aria-hidden="true"></i> '+str;
  	}
}) %></div>

<!--  END 2-tab  -->

      </div>
      <div class="tb-hide">

<!--  3-tab  -->

  <span class="title">其他</span><span class="sidetitle">杂物</span>
  
  <div class="item">
    <div class="text" id="displaytime"><script type="text/javascript" src="/js/displaytime.js"></script></div>
    <div id="timeprogress"></div>
	<script>
		var myDate = new Date();
		var hours=myDate.getHours();
		var minutes=myDate.getMinutes();
		minutes=hours*60+minutes;
		var pro=minutes/14.4;
		var innerhtml="<div class=\"progress-con\"><div class=\"progress\" title=\"时间已过去了"+pro.toFixed(2)+"%\"style=\"width: "+pro+"%; background-color: #4caf50; color: #4caf50;\">|</div></div>"
		document.getElementById("timeprogress").innerHTML = innerhtml;
	</script>
  </div>

  <div class="item">
    <div id="hitokoto" class="text"><%= config.author %>说，除了她以外的人都很强！嘤嘤嘤~~</div>
    <script>
    fetch('https://v1.hitokoto.cn')
      .then(function (res){
        return res.json();
      })
      .then(function (data) {
        var hitokoto = document.getElementById('hitokoto');
        hitokoto.innerText = '\t' + data.hitokoto + '\n' +'\n' +'from ' + data.from ;
      })
      .catch(function (err) {
        console.error(err);
      })
    </script>
  </div>

<!--  END 3-tab  -->

      </div>
    </div>
  </div>

  
  <div class="item">
  	<div class="title">博客信息</div>
    <div class="text list-group">
  	  <div class="list-group-item"><i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp;文章数目<div class="badge"><%= site.posts.length %></div></div>
  	  <div class="list-group-item"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp;访客数目<div class="badge"><span id="busuanzi_value_site_uv"></span></div></div>
  	  <div class="list-group-item"><i class="fa fa-eye fa-fw" aria-hidden="true"></i>&nbsp;总访问量<div class="badge"><span id="busuanzi_value_site_pv"></span></div></div>
  	  <div class="list-group-item"><i class="fa fa-font fa-fw" aria-hidden="true"></i>&nbsp;本站字数<div class="badge"><%= totalcount(site) %><!-- npm i hexo-wordcount --save --></span></div></div>
    </div>
  </div>

  <% if(toc(page.content,{list_number: false})){ %><!-- 标签可能太多，影响目录 -->
    <div class="post-toc">
      <div class="title">文章目录</div>
      <%- toc(page.content,{list_number: false}) %>
    </div>
  <% }else{ %>
    <div class="item">
      <div class="title">标签云</div>
      <div class="text toolbar-tag-cloud"><%- tagcloud({min_font: 20, max_font: 40, amount: 200, color: true, start_color: '#bfc6be',  end_color: '#444'}) %></div>
    </div>
  <% } %> 

  <script>
    $(function(){
      var ali = $('.tb-tabTitle>ul>li');
      var aDiv = $('.tb-tabContent>div');
      var timeId = null;
      ali.mouseover(function(){
        var _this = $(this);
        timeId = setTimeout(function(){
          _this.addClass('tb-current').siblings().removeClass('tb-current');
          var index = _this.index();
          aDiv.eq(index).show().siblings().hide();
        },300);
      }).mouseout(function(){
        clearTimeout(timeId);
      });
  });
  </script>

</div>