<div class="topbar">
	<a href="/" class="topbar-title">
		<i class="fa fa-home" aria-hidden="true"></i> <%= config.title %>
	</a>
	<div class="topbar-url">
	  <% for (name in theme.menu) { %>
            <a href="<%- url_for(theme.menu[name]) %>"><i class="fa <%= theme.icon[name] %>" aria-hidden="true"></i></a>
      <% } %>
      <a href="<%- url_for(theme.吐槽.url) %>"><i class="fa <%= theme.icon.吐槽 %>" aria-hidden="true"></i></a>
    </div>
	<a href="<%- url_for(theme.吐槽.url) %>" class="topbar-comments">
		<i class="fa <%= theme.icon.吐槽 %>" aria-hidden="true"></i>
	</a>
	<div class="topbar-full-url">
		<a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
		<% for (name in theme.menu) { %>
            <a href="<%- url_for(theme.menu[name]) %>"><i class="fa <%= theme.icon[name] %>" aria-hidden="true"></i></a>
        <% } %>
        <a href="<%- url_for(theme.吐槽.url) %>"><i class="fa <%= theme.icon.吐槽 %>" aria-hidden="true"></i></a>
	</div>
</div>